
$colorHtml:#e46e00;
$colorHtmlHover:#ff5100;
$colorHtmlText:rgb(247, 155, 102);
$colorHtmlTitle:rgb(255, 255, 255);


$colorCss:#0067dd;
$colorCssHover:#0077ff;
$colorCssText:rgb(0, 74, 211);
$colorCssTitle:rgb(111, 202, 255);


$colorJavasc:#e6c300;
$colorJavascHover:#fffb00;
$colorJavascText:rgb(0, 0, 0);
$colorJavascTitle:rgba(15, 7, 14, 0.562);


$colorReactjs:#00d4f0;
$colorReactjsHover:#07cdff;
$colorReactjsText:rgb(0, 174, 255);
$colorReactjsTitle:rgb(12, 0, 65);


$colorCursos:#b38cff;
$colorCursosHover:#46ffa3;


$colorLogin:#acacac;
$colorLoginHover:#e98fff;


$colorConocemas:#c300ff;
$colorConocemasHover:#00ff73;

$colorLoginPage: rgba(146, 41, 245, 0.692);
$colorLoginPage2: #ffffff5e;
$colorTextLoginPage:white;
$colorTitleLoginPage:#aaaaaa;


$colorTituloPag: azure;


$shadowText:1px 1px #000000;


$bg-footPrinc:#0000007e;
$color-footPrinc-li:rgba(0, 0, 0, 0); 
$color-footPrinc-a:white;
$color-footPrinc-h3:rgba(255, 255, 255, 0.644);
$color-footPrinc-listaUno-a-hover: #ff4089;
$color-footPrinc-listaDos-a-hover:rgba(148, 66, 255, 0.753);
$color-footPrinc-listaTres-a-hover:springgreen;


$colorNone : #00000000;
$bg-black_50: rgba(0, 0, 0, 0.501);
$bg-black_75: rgba(0, 0, 0, 0.748);
