
@import "variables";
@import "estilos";
@import "mix-maps";

* {
body{
    
    p   {padding: 20px;
        margin: 10px 0px;
        text-shadow: $shadowText;}

    h1 {border-radius: 10px;
        text-align: center;
        margin-top: -33px;}
    
    h2 {border-radius: 10px;
        text-align: center;
        margin-top: -33px;}

    
    a {text-decoration: none;}

    text-align: justify;
    font-size: $font-size-parraf;


}


#paginaprincipal {

    .barraNav   {display: block;
                background-color: $bg-black_75;
                padding: 0px 5px 10.2px 1px ;
                position: fixed;
                width: 100%;}

    .titulopag  {color:$colorTituloPag; font-size:$font-size-title;
                display: block;
                padding: 10px 0px;
                margin: 0px 0px 10px 0px;
                background-color: $bg-black_50;
                border-radius: 0px ;}

    .menuPrincipal{

        a   {padding: 7px;
            border-radius: 10px;
            display: inline;
            margin: 30px 20px 5px 20px;
            transition: 1s;
            outline: solid 2px $colorNone;

            &:hover {font-size: $font-size-menu-a-hover;
                    background-color: $bg-black_50;
                    transition: 0,65s;}}

        li  {list-style: none;
            &:hover .submenuCursos {visibility: visible;
                opacity: 1 ;
                transition-property: all;
                transition: 1s;}}

        >li {display: inline-block;
            position: relative;
            margin: 0px 20px;}

        
            @each $but, $color1 in $butt {

                .button-#{$but}{
                    display: inline;
                    color: $color1;
                    &:hover{color: lighten($color1, 20%);}
                    &:focus{outline: solid 2px lighten($color1, 20%); transition: 0.1s;}}
                }
                
    
        .submenuCursos {

        ul:hover  {visibility: visible; 
                    opacity: 1;}

        li          {padding: 5px 0px;
                    background-color: $colorNone;
                    &:hover .submenuCursos  {visibility: visible;
                                            opacity: 1 ;
                                            transition-property: all;
                                            transition: 1s;}}

        a   {padding: 15px;
            margin: 0;
            background-color: $bg-black_75;
            display: block;
            text-size-adjust:initial;
            color: $colorCursos;
            &:hover {color:$colorCursosHover;
                    font-size: $font-size-submenu-a;
                    transition: 0,45s;
                    background-color: $bg-black_75;}}

        position: absolute;
        text-align: start;
        padding:8px 0px 0px 0px;
        margin: 5px 0px 0px 0px;
        visibility: hidden;
        opacity: 0;
        transition: 1s;
        transition-property: all;
        border-radius: 30px;

    
    
        }
    margin: 0px 0px 0px 190px;  
   
    }



    .caja  {

        article:hover   {animation: sectionPrinci 1s;} 

        p       {opacity: 0;transition: 2s;}
               
        
        img     {opacity: 0;transition: 2s; width: 240px; padding: 20px 100px 0px 110px;}
               

        padding: 120px 0px 0px 0px;
        margin: 0px;
        background-color: #a7151500; 


        .back-html      {@include backs (url(../src/multimedia/imagenes/fondos/fondo-html.svg), $colorHtmlText)}

        .back-css       {@include backs (url(../src/multimedia/imagenes/fondos/fondo-css.svg), $colorCssText)}

        .back-javasc    {@include backs (url(../src/multimedia/imagenes/fondos/fondo-javascript.svg), $colorJavascText)}

        .back-reactjs   {@include backs (url(../src/multimedia/imagenes/fondos/fondo-react.svg), $colorReactjsText);
                        background-size: 10%;} 

        .html-h2        {@include h2 ($colorHtml,$colorHtmlTitle)}

        .css-h2         {@include h2 ($colorCss,$colorCssTitle)}

        .javas-h2       {@include h2 ($colorJavasc,$colorJavascTitle)}

        .reactjs-h2     {@include h2 ($colorReactjs,$colorReactjsTitle)}

        .conocemas  {color:$colorConocemas;
                    border-radius:20px;
                    text-decoration:none;
                    text-align:center; 
                    text-shadow:$shadowText;
                    &:hover {color:$colorConocemasHover}}  

        &:hover p {opacity: 1;transition: 0.8s;}   
        &:hover img {opacity: 1;transition: 1.8s;}   
       
        
        }


    .foterPrincipal {

        ul  {display:inline-block;
            padding: 0px 20px 0px 210px;
            margin: 30px 0px 0px 0px;
            visibility: visible;
            opacity: 0;
            transition: 2s;
            transition-property: all;}

        li  {list-style: none;
            padding: 10px;
            color: $color-footPrinc-li}

        a   {color: $color-footPrinc-a;
            &:hover{font-size:$font-size-footer-a-hover;
                transition: 0.4s;}}

    
             
        .listaH {text-decoration: line-through;font-style: italic;}    

        .listaUno{
                a:hover {@extend .listaH;
                    color: $color-footPrinc-listaUno-a-hover;}}

        .listaDos{
            a:hover {@extend .listaH;
                    color: $color-footPrinc-listaDos-a-hover;}}

        .listaTres{
            a:hover {@extend .listaH;
                    color: $color-footPrinc-listaTres-a-hover;}}

        background-color: $bg-black_50;
        margin: 60px 0px;
        padding: 30px 0px;
        width: 100% ;
        position: absolute;
        &:hover ul {visibility: visible;
            opacity: 1;
            transition: 0.8s;
            transition-property: all;}
        

    }

    background-image: url(../src/multimedia/imagenes/fondos/fondo-principal.jpg);}
   

margin: 0;
padding:0;
font-family: 'Gemunu Libre', sans-serif;}

    @keyframes sectionPrinci {

    1% {transform: scale(0.99);box-shadow: 5px 9px 6px rgb(0, 0, 0);}
    25% {transform: scale(0.96);}
    50% {transform: scale(0.93);}
    75% {transform: scale(0.99);}
    100% {transform: scale(1);box-shadow: 5px 9px 8px rgba(0, 0, 0, 0.555);}} 


.bodybox{

    .box{

        h1{color:$colorTitleLoginPage;
            font-size:60px;
            text-transform:uppercase;
            font-weight:500;
            letter-spacing:7px;
            text-shadow:1px 1px $colorLoginPage;}

        input {font-size:20px;}
        
        .inputF {color:$colorLoginPage;
            border:0;background:none;
            display:block;
            margin:20px auto;
            text-align:center;
            border:3px inset $colorLoginPage2;
            padding:14px 10px;
            width:200px;
            outline:none;
            border-radius:20px;
            transition:0.25s;
            font-family:$font-fam-login;
            &:focus{color:$colorTextLoginPage;
                width:280px;
                border-color:$colorLoginPage;
                background-color:$bg-black_50;}} 
        

        input[type = "submit"]{font-family:$font-fam-login;
            border:0;
            background:none;
            display:block;
            margin:20px auto;
            text-align:center;
            border:3px inset $colorLoginPage2;
            padding:14px 40px;
            outline:none;
            color:$colorLoginPage2;
            border-radius:24px;
            transition:0.25s;
            cursor:pointer;
            &:hover{background:$colorLoginPage;
                color:$colorTextLoginPage;
                text-shadow:$shadowText}}

                width:300px;
                padding:40px;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                background: darken($colorLoginPage, 50%);
                text-align:center;
                border-radius:20px;
                z-index:1;           


        }     
                              

    .iconoslogin {

        img {border:10px solid rgba(211, 31, 31, 0);
            width:40px;
            height:40px;
            padding:10px;
            margin-left:400px;
            border-bottom-left-radius:40px;}
        .icono-html:hover{background-color: #ee552275; transition:0.2s}
        .icono-css:hover {background-color: #0099ff77;transition:0.2s} 
        .icono-javacs:hover{background-color: #ffee3369;transition:0.2s}  
        .icono-reactjs:hover{background-color: #13045788;transition:0.2s} 


    }
    .volver {width:30px;
        padding:0px;
        padding-bottom:1px;
        margin-top:-62px;
        margin-left:780px;
        background-color:#ffffff5e;
        border-radius:20px;
        z-index:2;
        position:absolute;
        border:2px inset #ffffff7e;
        &:hover{background-color: rgba(111, 0, 255, 0.692);
            transition:0.27s;}}


    margin-top:140px;
    padding:0;
    font-family:$font-fam-login;
    background-image: url(../src/multimedia/imagenes/fondos/fondo-principal.jpg);
     

    }               


.paginaInfo-Curso  {
    
    header {display: flex; 
        flex-flow: row wrap; 
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.678);
        padding: 40px;}

    section{align-self: center;
        border-radius: 10px;
        margin-top: 110px;}

    article {margin: 160px 0px 10px 0px;
        padding: 50px 10px 30px 10px;
        border-radius: 20px; 
        transition: all 4s;}
    
    nav {text-align: center;padding:10px 0px;
        margin:-50px 0px;
        position:fixed;
        width:100%;
        background-color: rgba(0, 0, 0, 0.678);}
    
    h2 {font-size: 35px;
        padding: 20px 0px 20px 10px;
        background-color: rgba(0, 0, 0, 0.541);
        text-align: center;
        border-radius: 20px}

    p   {font-size:25px;
        margin:10px 20px 0px 20px;
        padding:50px 10px 40px 10px;
        border-radius:20px;
        transition:1s;}

    a   {text-decoration: none;
        color: lightgray;}    
        
    .b1, .b2, .b3, .b4      {font-weight:normal;
                            transition:1.5s;}
    
    
        .bg-ligth {background-color: rgba(0, 0, 0, 0.397);border-radius: 20px;}
        
        .violetbt {
    
                p   {opacity: 0;}
    
                a   {background-color: rgb(179, 140, 255);
                    color: rgb(255, 255, 255);
                    border: 1px solid rgba(61, 0, 184, 0.583);
                    text-shadow: 1px 2px black;
                    &:hover{background-color: rgb(70, 255, 163);
                            color: rgb(255, 255, 255) ;
                            border: 1px solid rgba(0, 143, 72, 0.638);
                            text-shadow: 1px 2px black;}}  
                            
    
        &:hover p {opacity: 1;color:rgb(70, 255, 163)}
    
        
        @keyframes artGreen-Violet {

        10% {background-color: #000000b6; box-shadow: 2px 2px 4px rgb(70, 255, 163);}
        20% {background-color: #0000009a; box-shadow: 2px 2px 4px rgb(70, 255, 163);}
        40% {background-color: #00000070;box-shadow: 2px 2px 4px rgb(179, 140, 255);}
        60%{background-color: #00000085;box-shadow: 2px 2px 4px rgb(179, 140, 255);}
        80% {background-color: #000000a8;}} 
         
        &:hover .imgPosition{margin: 20px 0px 0px 100px}
        
        &:hover{animation: artGreen-Violet 2s;}
        background-color: rgba(1, 2, 2, 0.658);color: rgb(179, 140, 255);border-radius: 20px;}
    
        .animdan    {transform: translateX(80px) translateY(70px);
                        transition: 2s;
                        &:hover {transform: translateX(0px) translateY(0px);}}
            
        .animkira   {transform: translateX(2px) translateY(70px);
                        transition: 2s;
                        &:hover {transform: translateX(0px) translateY(0px);}}   
                        
        .animjean   {transform: translateX(2px) translateY(80px);
                        transition: 2s;
                        &:hover {transform: translateX(0px) translateY(0px);}}
                  
        .animjon    {transform: translateX(80px) translateY(90px);
                        transition: 2s;
                        &:hover {transform: translateX(0px) translateY(0px);}}
            
        .animImg    {
    
                    img {transform: scale(2) translateX(-20px); transition: 2s;
                    &:hover{transform: scale(1); transition: 2s;}}
    
                    h5 {opacity: 0; margin-top: 20px;margin-left: 20px;}
                    
                    a   {opacity: 0; transition: 0.5s;margin-left: 20px;}  
                       
                    p {margin: 0;padding: 20px; transition: 3s;}
                        
                transform:  translateY(80px);
                transition: 2s;
    
                &:hover a {opacity: 1; transition: 3s;}
    
                &:hover h5 {opacity: 1;}
    
                &:hover  img {transform: scale(1); transition: 2s;}
    
                &:hover {transform: translateX(0px) translateY(0px);}} 
            
        .iconanim {
    
            img {transition: 4s;}
    
            h3 {transition: 4s;}
                
            &:hover img {transform: rotate(360deg);transition: 2s;}
            &:hover h3 {transform: scale(1.2); transition: 2s;}}   
        
        .greenbt {
            
            p {opacity: 0;}
    
            a {background-color: rgb(70, 255, 163);
                color: rgb(255, 255, 255);
                border: 1px solid rgba(0, 143, 72, 0.638);
                text-shadow: 1px 2px black;
                &:hover {background-color: rgb(179, 140, 255);
                        color: rgb(255, 255, 255);
                        border: 1px solid rgba(61, 0, 184, 0.583);
                        text-shadow: 1px 2px black;}}
    
        @keyframes artViolet-Green{
  
            10% {background-color: #000000b6; box-shadow: 2px 2px 4px rgb(179, 140, 255);}
            20% {background-color: #0000009a; box-shadow: 2px 2px 4px rgb(179, 140, 255);}
            40% {background-color: #00000070;box-shadow: 2px 2px 4px rgb(70, 255, 163);}
            60%{background-color: #00000085;box-shadow: 2px 2px 4px rgb(70, 255, 163);}
            80% {background-color: #000000a8;}}

        &:hover p {opacity: 1; color:rgb(179, 140, 255)}
        
        
        &:hover .imgPosition{margin: 20px 0px 0px 100px}
        
        &:hover {animation: artViolet-Green 2s;}
            
        background-color: rgba(0, 0, 0, 0.658);color: rgb(70, 255, 163);border-radius: 20px;}
        
        .d-flex {margin-bottom: -100px;}
        
        .imgPosition {margin: 20px 0px 0px 140px;}
        
    .artGreen   {background-color:rgba(0, 0, 0, 0.473);
                color:rgb(70, 255, 163);
                &:hover{animation: artViolet-Green 4s;}}


    .artViolet {background-color:rgba(0, 0, 0, 0.473);
                color:rgb(179, 140, 255);
            &:hover{animation: artGreen-Violet 4s;}}
      
    .navCursos {
        
     h1     {font-size: 45px;
            padding: 10px 0px; 
            color: rgb(179, 140, 255);
                                    margin: 0;} 
     &:hover    {animation: CursoA 1.5s;
                color: rgb(179, 140, 255);}

    &:focus     {padding:5px;
                outline: solid 3px rgb(179, 140, 255);
                transition: 0.1s; 
                border-radius: 10px;}                    
                                
                                                                               
                               
     .menuCursos {
                                    
    a:focus {padding:5px;
            outline: solid 3px rgb(179, 140, 255);
            transition: 0.1s;
            border-radius: 10px;}      
                        
    a:hover {animation: CursoA 1.5s;
            color: rgb(179, 140, 255);}
                                            
    list-style: none;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;}}
                           
    .main-Curso {
        
        section {height: 300px;
                width: 1400px;
                margin: 20px;} 
        
       
        .p2:hover   {color:rgb(70, 255, 163);
                    transition:1s;
                    background-color:rgba(0, 0, 0, 0.568);}


        .p1:hover   {color:rgb(179, 140, 255);
                    transition:1s;
                    background-color:rgba(0, 0, 0, 0.568);}
            
        display: flex;
        flex-flow: row wrap;
        height: 3250px;}
        
    .navInfo{

            h1{font-size: 45px;
                padding: 20px 0px;
                margin: 0;
                color: rgb(70, 255, 163);}
    
            .menuInfo       {list-style: none ;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;} 
                      
            .contInfo  {width: 1200px;}                            
    
            .menuInfo a {&:focus {padding:5px; 
                        outline: solid 3px rgb(70, 255, 163);
                        transition: 0.1s; 
                        border-radius: 10px;}
                        &:hover {animation: infoA 1.5s; 
                        color:rgb(70, 255, 163);}}
    
            .colorTextViolet {color:rgb(179, 140, 255);}
            
            .colorTextGreen {color:rgb(70, 255, 163);}}         
    
    .main-Info    {
          
      
    section   {
            height: 400px;
            width: 1300px;
            margin: 20px; 
            &:hover {animation: infoSec 4s;}} 
       
    .p4:hover  {color: rgb(179, 140, 255);
                    transition:1s;
                    background-color:rgba(0, 0, 0, 0.568);}

       
    .p3:hover   {color:rgb(70, 255, 163);
                    transition:1s;
                    background-color:rgba(0, 0, 0, 0.568);}

        display: flex;
        flex-flow: row wrap;
        height: 4300px;}        
     

    @media screen and (max-width: 975px){
    
            .columnaicon {display: none;}
            .bootcont {padding-top: 80px}}
       
       
            

    
    
    
    margin-bottom: 400px; background-image: url(../src/multimedia/imagenes/fondos/fondo-principal.jpg);}
    
    





  
 
  
  @keyframes CursoA {
  
        10% {color: rgb(70, 255, 163);font-size: 21px;}
        30% {color: rgb(0, 248, 174);font-size: 20.5px;}
        60% {color: rgb(161, 140, 255); font-size: 20.8px;}
        100%{color: rgb(179, 140, 255);font-size: 20.2px;}
  
  }
  
  @keyframes infoA {
  
        10%   {color: rgb(179, 140, 255);font-size: 21px;}
        30%   {color: rgb(161, 140, 255);font-size: 20.5px;}
        60%   {color: rgb(0, 248, 174); font-size: 20.8px;}
        100%  {color: rgb(70, 255, 163);font-size: 20.2px;}     
  
  }
  
  
  @keyframes sectionPrinci {
  
        1% {transform: scale(0.99);box-shadow: 5px 9px 6px rgb(0, 0, 0);}
        25% {transform: scale(0.96);}
        50% {transform: scale(0.93);}
        75% {transform: scale(0.99);}
        100% {transform: scale(1);box-shadow: 5px 9px 8px rgba(0, 0, 0, 0.555);}
        
  
  }
  


section iframe    {border-radius: 20px;
                    width: 450px;
                    height:350px;
                    border-color: black;
                    margin: 0px 20px;} 

.imagen-pag     {border-radius: 20px;
                width: 450px;
                height:350px;background-color: #9c2d2d57;
                margin: 0; padding: 0;}


.grid-container p {transition: 2s;}  

.bodyHtml {
    
    h1  {background-color: rgba(255, 115, 0, 0.596); 
        color: rgb(255, 255, 255);}  
        
    p:hover {background-image: linear-gradient(to bottom, rgba(255, 115, 0, 0.164) ,rgba(151, 68, 0, 0.397));
            border-radius: 20px;
            transition: 0.8s;
            transform: scale(1.008);
            color: rgb(253, 196, 148);}

    
    background-image:url(../src/multimedia/imagenes/fondos/);
    background-size: 100%;
    color: rgb(255, 82, 2);
    text-shadow: 1px 1px #000000;}

    
  
.bodyCss  {
    
    h1  {background-color: rgba(0, 47, 255, 0.575);}
    
    p:hover {background-image: linear-gradient(to bottom, rgba(17, 0, 255, 0.048) ,rgba(5, 0, 51, 0.24));
            border-radius: 20px;
            transition: 0.8s;
            transform: scale(1.008);
            color: rgb(13, 1, 78);}

    background-image: url(../src/multimedia/imagenes/fondos/fondo-css.svg);
    background-size: 200%;
    color: rgb(111, 202, 255);
    text-shadow: 1px 1px #000000;}
    
    
    
.bodyJavasc {
    
    h1   {background-color: rgba(255, 238, 0, 0.5);}   
    
    p:hover {background-image: linear-gradient(to bottom, rgba(255, 251, 0, 0.048) ,rgba(50, 51, 0, 0.24));
            border-radius: 20px;
            transition: 0.8s;
            transform: scale(1.008);
        
            color: rgb(240, 216, 0);}

    background-image: url(../src/multimedia/imagenes/fondos/fondo-javascript.svg);
    background-size: 250%;
    color: rgba(15, 7, 14, 0.562);
    text-shadow: 1px 1px #000000;}
    
    
.bodyReactjs {

    h1 {background-color: rgba(0, 253, 253, 0.486);}

    p:hover {background-image: linear-gradient(to bottom, rgba(0, 4, 255, 0.048) ,rgba(0, 7, 51, 0.24));
            border-radius: 20px;
            transition: 0.8s;
            transform: scale(1.008);
            color: rgb(0, 212, 240);}
    
    background-image: url(../src/multimedia/imagenes/fondos/fondo-react.svg);
    background-size: 10%;
    color: rgb(12, 0, 65);
    text-shadow: 1px 1px #000000;}      
    

 @media screen and (min-width: 1421px) {

 .grid-container {display: none;}} 

 @media screen and (min-width: 1329px) and (max-width: 1420px) {


    .grid-container {


        
        .grid-item:first-child {
         h1 {margin-top: 3px; }                        
            grid-area: header;
            border-radius: 20px}
      
        .grid-item:nth-child(2) {grid-area: section;
                                border-radius: 20px;
                                margin: 0px 0px 0px 120px;
                                width: 1000px;}

        .grid-item:nth-child(3){ 

            .volverpags       {width: 50px;
                                margin:13px;
                                padding: 0;
                                border-radius: 30px;
                                background-color: #afafaf4b;}
            .login-pags       {width: 50px;
                                margin:13px;
                                padding: 0;
                                border-radius: 30px;
                                background-color: #afafaf4b;} 
            
            grid-area: aside;
            width: 80px;
            height: 150px;
            border-radius: 20px;
            margin: 70px 0px 0px 0px;
            background-color: rgba(0, 0, 0, 0.534);}

        .grid-item:nth-child(4) {
            
            h4 {font-size: 40px;
                text-align: center;
                color: rgb(141, 141, 141);
                background-color: rgb(23, 32, 32);
                border-radius: 20px;
                margin:5px}

            li {list-style: none;
                margin: 30px 0px 0px 20px ;}

            a   {text-decoration: none;
                color: aliceblue;
                background: rgba(0, 0, 0, 0.582);
                border-radius: 20px;
                padding: 10px 250px 10px 15px;
                &:hover { color: blueviolet; }}
            

            
            grid-area: footer;
            background-color: rgba(0, 0, 0, 0.884);
            border-radius: 20px;
            height: 200px;
            margin: 50px 60px 0px 150px;
            width: 900px;}

                                
        
        
        
        
        
        display: grid;
        background-size: cover; 
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,350px);
        gap: 40px;
        grid-template-areas:
        "header header header header"
        "section section section aside"
        "footer footer footer aside";
        padding: 20px;
        font-size: 23px;}}


@media screen and (min-width: 768px) and (max-width: 1328px) {

            .grid-container {display: none;}}



@media screen and (min-width: 320px) and (max-width: 768px) {
    
    .general {
        .grid-container {
            
            .grid-item:first-child  {

                h1 {padding: 10px 0px;
                    border: 1px solid rgba(0, 0, 0, 0.192)}

                p   {padding: 10px;
                    background: #00000025;
                    border-radius: 20px;} 

                grid-area: header;
                border-radius: 20px;
                width: 300px;}

            .grid-item:nth-child(2) {grid-area: section;
                                    border-radius: 20px;
                                    width: 300px;}

            section iframe , .imagen-pag    {width: 300px;
                                            height: 200px;
                                            margin: 0;
                                            margin-top: 10px;}
            
            .grid-item:nth-child(3) {

                .volverpags, .login-pags  {width: 40px;}

                grid-area: aside;
                width: 50px;
                border-radius: 20px;
                margin-left: 40px;
                height: 100px;}

            .grid-item:nth-child(4) { 

                a   {padding: 15px 150px 10px 10px;
                    border-radius: 10px;}                        

                h4 {font-size: 20px;}    
                    
                    
                grid-area: footer;
                height: 200px;
                width: 280px;}

          
            display: grid;
            background-size: cover; 
            grid-template-columns: repeat(4,200px);
            grid-template-rows: repeat(2,150px);
            gap: 50px;
            grid-template-areas:
            "header header"
            "header header "
            "section section"
            "footer aside";
            padding: 20px;
            font-size: 13px;}
      
        margin-right: 8%}}

